


.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

h1{
    font-family: Playfair Display, serif;
    font-weight: 700;
    font-style: Bold;
    background:lightcoral;
    color:black;
}



.playfair-display {
  font-family: "Playfair Display", serif;
  font-weight:700;
  font-style: normal;
}
p{
    font-family: Sedan,serif ;
    font-weight: 400;
    font-style: normal;
    background: lightcoral;
    color: black;
 }